{% block searchCustomer %}
    <form action="search-customer" enctype="multipart/form-data" method="post">
        <label for="searchCustomer">Search Customer</label>
        <input type="text" name="searchCustomer" id="searchCustomer">
        <input type="submit" value="Search">
    </form>
{% endblock %}